.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
}

.text-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: black;
  padding: 2%;
}

h1 {
  margin: 8px auto;
}

