<hr class="top">
<div class="container">
  <div class="row one">

    <div class="column">
      <div class="about">
        <h2>About Me</h2>
        <p>
          I'm Demir Mensah, a fourth year computer engineering student at Western University from Halifax, NS.
          I'm an avid problem solver and motivated when I have a complex problem in hand.
          I've grown up heavily involved in team sports at a young age, going on to play rugby at a high school and provincial level.
          This has helped me develop key interpersonal skills leading me to be an effective team member.
          In my spare time I like to exercise, read, and learn about investing.
        </p>
      </div>

      <div class="education">
        <h2>Education</h2>
        <p>
          <b>Bachelor of Engineering Science (BESc) - Computer Engineering</b><br>
          Western University - London, ON <br>
          Sept 2017 - April 2021
        </p>
      </div>
    </div>

    <div class="column pic">
      <img src="assets/project-imgs/about/campus.png" alt="Western Campus" class="image">
    </div>

  </div>

  <div class="row two">
    <div class="column">

      <div class="skill-info">
        <h2>Technical Skills</h2>
        <p> <b>Lanugages/Frameworks</b> <br>
          Java, C++, Python, JavaScript, HTML/CSS, Angular, Node.js, Ionic, MongoDB, Express.js, MySQL, Mocha, Firebase, VHDL </p>
          <p> <b>Software and IDE's</b> <br>
            Visual Studio, Visual Studio Code, GitHub, AWS, IntelliJ IDEA, Postman, MATLAB, Quartus Prime, Vivado
          </p>
      </div>

    </div>

    <div class="column">
      <h2>Awards</h2>
      <p><b>Western University</b> <br>
        $2000 Entrance Scholarship
      </p>

      <h2>Languages</h2>
      <p>
        <b>Fluent in: </b> English and Turkish <br>
        <b>Intermediate in: </b> French
      </p>
    </div>
  </div>
</div>
