<ngb-carousel *ngIf="images">
  <ng-template ngbSlide >
    <img [src]="images[0]" class="image">
    <div class="carousel-caption">
      <h4>Western University - London, ON</h4>
    </div>
  </ng-template>

  <ng-template ngbSlide >
    <img [src]="images[1]" class="image">
    <div class="carousel-caption">
      <h4>The Halifax Harbour</h4>
    </div>
  </ng-template>

</ngb-carousel>

<div>
  <h2>About Me</h2>
</div>

<div class="education">
  <h2>Education</h2>
  <p>
    <b>Bachelor of Engineering Science (BESc) - Computer Engineering</b><br>
    Western University - London, ON <br>
    Sept 2017 - April 2021
  </p>
</div>

<div class="skills">
  <h2>Technical Skills</h2>
   <p> <b>Lanugages/Frameworks</b> <br>
    Java, C++, JavaScript, Angular, Node.js, MongoDB, Express.js, VHDL </p>
    <p> <b>Software and IDE's</b> <br>
      Visual Studio, Visual Studio Code, GitHub, AWS, IntelliJ IDEA, Postman, Matlab, Quartus Prime, Vivado
    </p>
</div>

<div>
  <h2>Awards</h2>
</div>

<div>
  <h2>Languages</h2>
</div>
