ul {
  list-style: none;
}

p {
  font-size: 18px;
  margin-left: 1em;
}

.row {
  height: 50%;
}

.column {
  width: 50%;
  float: left;
}

.image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
} 

.about {
  width: auto;
  max-width: 80%;
}

.skill-info {
  width: auto;
  max-width: 80%;
}


