.container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 25%;
}

ngb-carousel {
  margin: 0 auto;
  width: 90%;
}

.image {
  max-height: 100%;
  max-width: 100%;
  object-fit:cover;
}

h4 {
  color: black;
  font-size: 20px;
}

.description {
  width: 90%;
  margin: 0 auto;
}

.skills {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 1%;
  border: 2px solid dimgray;
  font-size: 16px;
  padding: 8px;
  background-color: dimgray;
  color: white;
  border-radius: 10px;
  display: inline-block;
}

fa-icon {
  margin-right: 8px;
  font-size: 16px;
}

.return {
  margin-bottom: 2%;
  margin-top: 0;
}

button {
  background: #656668;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  margin-top: 5%;
}

button:hover {
  background: #a5a5aa;
  transition: all 0.5s;
  border-radius: 10px;
  padding: 0.7rem;
}

.row {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

.pics {
  width: 90%;
  margin: 3% auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 13%;
  }

  .column {
    float: left;
  }
  
  .pics {
    width: 80%;
    
  }
  
  .info {
   width: 20%;
  }
}

@media only screen and (min-width: 950px) {
  .container {
    padding-top: 8%;
  }
}


@media only screen and (min-width: 1536px) {
  .container {
    padding-top: 7%;
  }
}