fa-icon {
  font-size: 40px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 70%;
  padding-bottom: 5%;
}

hr {
  background-color: black;
  width: 100%;
}


li {
  margin: auto;
}

h1 {
  font-size: 26px;
}

h5 {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  fa-icon {
    font-size: 50px;
  }

  h1 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1248px) {
  fa-icon {
    font-size: 70px;
  }

  h1 {
    font-size: 36px;
  }
  
  h5 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1536px) {

}
