<div class="wrapper">

  <div class="language-list">
    <ul>
      <li>
        <button mat-raised-button >C++</button>
      </li>
      <li>
        <button mat-raised-button >Java</button>
      </li>
      <li>
        <button mat-raised-button >JavaScript</button>
      </li>
      <li>
        <button mat-raised-button >Angular</button>
      </li>
      <li>
        <button mat-raised-button>Node.js</button>
      </li>
    </ul>
  </div>

  <div class="project-list">
    <ul>
      <li>Captivate youth</li>
      <li>Sorting Algo Visualization</li>
      <li>Mediator Pattern</li>
      <li>Java Sketchpad</li>
      <li>Observer Pattern</li>
    </ul>
  </div>
</div>
