<div class="container">
  <h1>Want to get in touch?</h1>
  <h4>Feel free to get in touch with me on one of my socials below!</h4>

  <div class="socials-container">

    <div class="linekdin">
      <a href="https://www.linkedin.com/in/demir-mensah-9a96b2155/" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>

    <div class="email">
      <a href="" target="_blank"> <fa-icon [icon]="faInbox"></fa-icon></a>
    </div>

    <div class="github">
      <a href="" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
    </div>


  </div>



</div>
