<div class="container">
  <h1>Want to get in touch?</h1>
  <h5>Feel free to get in contact with me on any of my socials below!</h5>

  <ul>
    <li>
      <a href="https://www.linkedin.com/in/demir-mensah-9a96b2155/" target="_blank"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
    </li>
    <li>
      <a href=mailto:dmensah4@uwo.ca target="_blank"> <fa-icon [icon]="faInbox"></fa-icon></a>
    </li>
    <li>
      <a href="https://github.com/dmensah1" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
    </li>
  </ul>

</div>
