section {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding-top: 15%;
  }
  
  hr {
    background-color: black;
    width: 80%;
  }
  
  #home {
    background-image: url('../../assets/project-imgs/backgrounds/pic1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: cover;
  }
  
  #contact {
    height: 50%;
  }
  
  #work {
    height: 110%;
  }
  
  @media only screen and (min-width: 768px) {
    section {
      padding-top: 8%;
    }
  
    #work {
      height: 160%;
    }
  }
  
  @media only screen and (min-width: 950px) {
    section {
      padding-top: 5%;
      height: 100%;
    }
  }
  
  @media only screen and (min-width: 1248px) {
    section {
      height: 100%;
      padding-top: 3%;
    }
  
    #home {
      background-size: 70%;
    }
  }
  
  @media only screen and (min-width: 1536px) {
    #work {
      height: 140%;
    }
  }