.container {
  margin: 0 auto;
  width: 85%;
  padding-top: 45%;
  padding-bottom: 5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

fa-icon {
  margin-right: 8px;
  font-size: 16px;
}

button {
  text-align: center;
  font-size: 16px;
}

button:hover {
  background: #a5a5aa;
  color: white;
  transition: all 0.25s;
}

button:active {
  background-color:transparent;
  border-color: black;
  /* border: 5px solid black; */
}

li {
  margin-bottom: 2%;
}

.language-list {
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
}

hr {
  background-color: black;
}

/* Project card styling */
.row {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

.column {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  float: left;
  width: 30%;
  display: inherit;
  transition: 0.2s ease;
  margin: 1rem auto;
  cursor: pointer;
}

.content-box {
  padding: 10px;
}

.column::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.column:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background-color: gainsboro;
}

.column:hover::after {
  opacity: 1;
}

.btn-wrap {
  margin-top: 2%;
}

.btn {
  margin-left: 2%;
}


/* Responsive Styling */
@media only screen and (min-width: 768px) {
  .container {
    padding-top: 13%;
  }
  
  h2 {
      font-size: 20px;
  }
  
  p {
      font-size: 12px;
  }
}

@media only screen and (min-width: 950px) {
  .container {
    padding-top: 8%;
  }
  
  h2 {
      font-size: 24px;
  }
  
  p {
      font-size: 14px;
  }
}

@media only screen and (min-width: 1248px) {
  h2 {
      font-size: 28px;
  }
  
  p {
      font-size: 16px;
  }
}

@media only screen and (min-width: 1536px) {
  h2 {
      font-size: 30px;
  }
}
